<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="vh-100" >
        <div class="visit-list w-75 shadow m-auto p-5 mt-5 bg-white">
            <h2 class="f-bold text-dark text-center">درخواست های ویزیت</h2><br>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">شرح بیماری</th>
                            <th scope="col">شماره تماس</th>
                            <th scope="col"> وقت ملاقت</th>
                            <th scope="col"> زمان ثبت درخواست</th>
                            <th scope="col"> وضعیت </th>
                            <th scope="col" colspan="2"> تغییر وضعیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of visitRequests">
                            <th scope="row">{{ item.id }}</th>
                            <td>{{ item.fullName }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.phoneNumber }}</td>
                            <td>{{ item.visitTime }}</td>
                            <td>{{ item.created_at }}</td>
                            <td>{{ item.status == 'pending' ? 'درانتظار' : item.status == 'confirmed' ? 'تایید شده' : 'لغو شده' }}</td>
                            <td><button (click)="confirmRequest(item.id)" class="btn btn-sm btn-primary">تایید</button></td>
                            <td><button (click)="cancelRequest(item.id)" class="btn btn-sm btn-danger">لغو</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="visitRequests == false" class="alert alert-warning text-center">
                <b>درخواستی وجود ندارد !</b>
            </div>
        </div>
    </div>
</body>

</html>