@media screen and (max-width: 992px) {
    .md-text-center{
        text-align: center !important;
    }
    .md-d-none{
        display: none !important;
    }
    .md-mb-5{
        margin-bottom: 0px !important;
    }
  }
  .top{
    padding-top: 90px; 
    padding-bottom: 100px;
    background-color: #f3f3f3;
  }