<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دریافت نوبت</title>
</head>

<body>
    <div class="vh-100">
        <div class="form w-50 shadow m-auto p-5 mt-5">
            <h2 class="f-bold text-center">درخواست نوبت</h2><br>
            <form (submit)="sendForm(visitRequestForm)" #visitRequestForm="ngForm">
                <div class="mb-3">
                    <input class="form-control" type="text" name="name" placeholder=" نام و نام خانوادگی را وارد کنید "
                        ngModel required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="description" id="" cols="30" rows="5"
                        placeholder="شرح بیماری را بنویسید" ngModel required></textarea>
                </div>
                <div class="mb-3" dir="ltr">
                    <ng-persian-datepicker>
                        <input class="form-control" name="date" [formControl]="dateValue" ngModel required />
                    </ng-persian-datepicker>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="number" name="number" placeholder="شماره تماس خود را وارد کنید"
                        ngModel required>
                </div>
                <div class="alert alert-success" *ngIf="showSuccessAlert">
                    <b>درخواست شما با موفقیت ثبت شد.</b>
                </div>
                <div *ngIf="showErrorAlert" class="alert alert-warning">
                    <b>تمامی فیلد ها را پر کنید</b>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn w-100 btn-primary">ثبت درخواست</button>
                </div>
            </form>
            <div class="w-100 text-center">
                <a href="/">صفحه اصلی</a>
            </div>
        </div>
    </div>
</body>

</html>