<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
</head>

<body>
    <div class="vh-100">
        <div class="form w-50 shadow m-auto p-5 mt-5">
            <form (submit)="sendForm(loginForm)" #loginForm="ngForm">
                <h2 class="f-bold text-center">مدیریت</h2><br>
                <div class="mb-3">
                    <input class="form-control" type="text" name="username" placeholder=" نام کاربری " ngModel required>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="password" placeholder=" رمزعبور " ngModel required>
                </div>
                <div class="alert alert-warning" *ngIf="showAlert">
                    <b>نام کاربری و یا رمزعبور اشتباه میباشد</b>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn w-100 btn-primary">ورود</button>
                </div>
                <div class="w-100 text-center">
                    <a href="/">صفحه اصلی</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>