/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'regular';
    src: url(./assets/fonts/Reg.ttf);
}
@font-face {
    font-family: 'yekan';
    src: url(./assets/fonts/regular.woff);
}
@font-face {
    font-family: 'bold';
    src: url(./assets/fonts/Bold.ttf);
}
* {
    font-family: regular;
}
html{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
.f-yekan {
    font-family: yekan !important;
}
.f-bold {
    font-family: bold !important;
}
a {
    text-decoration: none !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
